.videoFooter {
  position: relative;
  bottom: 150px;
  color: white;
  display: flex;
  /* padding: 20px; */
  margin-left: 20px;
}

.videoFooter_text {
  flex: 1;
}

.videoFooter_text p {
  padding-bottom: 20px;
}

.videoFooter_record {
  animation: spinTheRecord infinite 5s linear;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 20px;
  filter: invert(1);
}

.videoFooter_ticker > .ticker {
  height: fit-content;
  margin-left: 30px;
  width: 60%;
}

.videoFooter_text > h3 {
  padding-bottom: 20px;
}

.videoFooter_ticker h1 {
  padding-top: 7px;
}

.videoFooter_icon {
  position: absolute;
}

@keyframes spinTheRecord {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
